@model HHSBooking.TipoQuarto

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>TipoQuarto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Capacidade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Capacidade)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Inventario)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Inventario)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdhotelNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdhotelNavigation.CodPostal)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdtipoQuarto">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
