@model HHSBooking.Precario

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Precario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Preco)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Preco)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdregimeNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdregimeNavigation.TipoRegime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdtipoQuartoNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdtipoQuartoNavigation.Descricao)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
