@model HHSBooking.Hoteis

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Hoteis</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomeHotel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NomeHotel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumEstrelas)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumEstrelas)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Morada)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Morada)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Localidade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Localidade)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CodPostal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CodPostal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pais)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pais)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.QuantidadeQuartos)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.QuantidadeQuartos)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Idhotel">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
